* {
    margin: 0;
    padding: 0;
}

#app {
    margin: 0 auto;
    border: 1px solid black;
}
.starting-screen {
    display: flex;
    justify-content: center;
    align-items: center;
}
.start-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    background: silver;
}